.productCard_image {
  width: 200px;
  height: 200px;
}

.productCard_title {
  font-weight: bold;
  margin: 2px;
}

.productCard_price {
  margin: 2px;
}

.productCard_container {
  margin-bottom: 20px;
}
