.home_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px 500px;
}

.home_header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
}

.home_products_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
