.searchBar_image {
  width: 12px;
  margin-right: 12px;
  height: 12px;
  align-self: center;
}

.searchBar_container {
  background-color: lightgrey;
  padding: 10px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  height: 35px;
}

.searchBar_input {
  background-color: lightgrey;
  border: none;
}
.searchBar_input:focus {
  outline: none;
  border: none;
}

.searchBar_button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

.searchBar_input_container {
  display: flex;
  justify-content: center;
}
