.nav_bar_container {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 6px 17px 0px rgba(196, 192, 196, 1);
  position: fixed;
  width: 100%;
  z-index: 99;
}

.nav_bar_icon_container {
  display: flex;
  align-items: center;
  padding-left: 3vw;
}

.nav_bar_title {
  font-size: 22px;
  margin-left: 12px;
}

.nav_bar_homeLink {
  text-decoration: none;
  color: black;
}

.nav_bar_image {
  width: 80px;
  height: 80px;
}

.nav_bar_list {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0;
  padding-right: 3vw;
}

.nav_bar_listItem {
  margin-left: 50px;
  text-decoration: none;
  color: black;
}
