.cartCheckout_securityNumber {
  width: 100px;
}

.cartCheckout_cardNumber {
  width: 200px;
}
.cartCheckout_cardNumber::-webkit-outer-spin-button,
.cartCheckout_cardNumber::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cartCheckout_cardInfo {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.checkout_button {
  margin-top: 50px;
  width: 100%;
  height: 40px;
  background-color: black;
  color: white;
  font-size: 20px;
}
