.menu_buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
}

.menu_button {
  text-align: center;
  padding: 40px;
  font-size: 70px;
  color: inherit;
  text-decoration: inherit;
}
